<h1>DO ALL THE THINGS!!!!</h1>

<form action="/lists" method="post">
  <div class="form-group">
    <label for="name">List name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <button type="submit" class="btn">Make this list!</button>
</form>
