<h1>You added a Task!</h1>
<p>Your changes have been saved.</p>

<p>
  <a href="/lists/<%= @list.id %>"><button type="button" class="btn">Return to List</button></a>
</p>
<p>
  <a href="/"><button type="button" class="btn">Return home</button></a>
</p>
